.container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap row-reverse;
}

.box1 {
    width: 100px;
    height: 30px;
    background-color: #03fc84;
    text-align: center;
    padding-top: 10px;
    order: 10;
}

.box2 {
    width: 100px;
    height: 30px;
    background-color: #00a656;
    text-align: center;
    padding-top: 10px;
    order: 2;
}

.box3 {
    width: 100px;
    height: 30px;
    background-color: #026beb;
    text-align: center;
    padding-top: 10px;
    order: 3;

}

.box4 {
    width: 100px;
    height: 30px;
    background-color: #4816c7;
    text-align: center;
    padding-top: 10px;
    order: 4;
}

.box5 {
    width: 100px;
    height: 30px;
    background-color: #021078;
    text-align: center;
    padding-top: 10px;
    order: 5;

}

.box6 {
    width: 100px;
    height: 30px;
    background-color: #edbf04;
    text-align: center;
    padding-top: 10px;
    order: 6;
}

.box7 {
    width: 100px;
    height: 30px;
    background-color: #f08102;
    text-align: center;
    padding-top: 10px;
    order: 1;

}

.box8 {
    width: 100px;
    height: 30px;
    background-color: #f50d05;
    text-align: center;
    padding-top: 10px;
    order: 7;
}

.box9 {
    width: 100px;
    height: 30px;
    background-color: #acabb3;
    text-align: center;
    padding-top: 10px;
    order: 8;

}

.box10 {
    width: 100px;
    height: 30px;
    background-color: #515154;
    text-align: center;
    padding-top: 10px;
    order: 9;
}