body{
  background-color: lightblue;
}

ul{
  margin:0;
  padding:0;
  background-color: grey;
  overflow:hidden;
  list-style-type: none;
}
li{
  float:left;
}
li a{
  display:block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: black
}
.image{
  width:250px;
  height:300px;
  float:left;
}
.p-text{
  column-count: 4;
  column-rule: solid;
  column-fill:auto;
  position:relative;
  margin: 20px;
  padding:20px;
}
.footer{
  background-color: black;
  color:white;
  text-align: center;
}
